@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Sarabun&family=Work+Sans&display=swap');


html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body{
  background: #132022;
  scroll-behavior: smooth;
}
.nav .container{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
    height: 15%;
}


.nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #fffafa;
    font-family: 'Raleway', sans-serif;
}


.nav ul li{
    font-size: 20px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fffafa;
    font-family: 'Work Sans', sans-serif;
}

.nav{
    padding: 10px;
    transition: 1s;
}

.nav ul li a:hover{
    color: lightblue;
    text-decoration: underline;
}

div.container{
  border: 2px solid #13E07E;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 52px 3px rgba(57,212,0,1);
    -moz-box-shadow: 10px 10px 52px 3px rgba(57,212,0,1);
    box-shadow: 10px 10px 52px 3px rgba(57,212,0,1);;
}


.container1 h1{
    font-size: 48px;
    color: #13E07E;
    font-family: 'Poppins', sans-serif;
}

.container1 p{
    color: #fff;
}

.img1{
    width: 420px;
    margin-top: 170px;
}
h2{
  font-family: 'Poppins', sans-serif;
}

.image2{
  width: 420px;
  margin-top: 220px;
}
.header{
    display: flex;
    justify-content: space-evenly;
}


.container1{
    margin-top: 10px;
}

.container1 li{
  color: #13E07E;
}


.paragraph1{
  width: 700px;
}

li, p{
  font-family: 'Sarabun', sans-serif;
}

p{
  font-size: 20px
}

li{
  color: #fff
}

strong{
  color: #13E07E;
}
/* CONTAINER TWO */

.container2 h1{
    font-size: 48px;
    color: #13E07E;
    font-family: 'Poppins', sans-serif;
}

.container2 p{
    color: #fff;
}

span{
  color: #13E07E;
}

.about{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

.container2{
    margin-top: 10px;
}

.paragraph2{
  width: 700px;
}

/* CONTAINER THREE */

.container3 h1{
    font-size: 48px;
    color: #13E07E;
    font-family: 'Poppins', sans-serif;
}

.container3 p{
    color: #fff;
}

span{
  color: #13E07E;
}

.footer-text{
  color: #13E07E;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  margin-top: 100px;
  text-align: center;
}

.course{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

.container3{
    margin-top: 10px;
}

.paragraph3{
  width: 700px;
}

.course h2{
  color: #94ffcb;
}

.image3{
  width: 420px;
  margin-top: 220px;
}
/*Container three end*/




.container3{
    margin-top: 10px;
}

.paragraph3{
  width: 400px;
  font-size: 15px;
}

h2{
  color: #fff;
  font-size: 30px;
}

.box{
  border: 2px solid #13E07E;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 52px 3px rgba(57,212,0,1);
      -moz-box-shadow: 10px 10px 52px 3px rgba(57,212,0,1);
      box-shadow: 10px 10px 52px 3px rgba(57,212,0,1);;

  padding: 20px;
  text-align: center;
  }




/* CONTAINER FOUR */

.container4 h1{
    font-size: 48px;
    color: #13E07E;
    font-family: 'Poppins', sans-serif;
}

.container4 p{
    color: #fff;
}

.container4{
    margin-top: 10px;
}

.paragraph3{
  width: 700px;
  font-size: 20px;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

a{
  color: #13E07E;
}


.pythonimg{
  width: 200px;
}

.course{
  display: flex;
}

@media screen and (max-width: 768px){
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .container1{
    align-items: center;
  }

  .container1 h1{
    width: 700px;
    font-size: 55px;
  }

  .container{
    width: 700px;
  }

  .paragraph1{
    font-size: 22px;
  }

  li{
    font-size: 18px;
  }

  .img1{
    width: 210px;
    margin-top: -530px;
    margin-left: 450px;
  }



  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .container4{
    align-items: center;
  }

  .container4 h1{
    width: 700px;
    font-size: 65px;
  }

  .container4{
    width: 700px;
  }

  .paragraph3{
    font-size: 22px;
  }

  li{
    font-size: 18px;
  }

  .image2{
    width: 180px;
    margin-top: -950px;
    margin-left: 490px;
  }

  .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .container2{
    align-items: center;
  }

  .container2 h1{
    width: 700px;
    font-size: 65px;
  }

  .container2{
    width: 700px;
  }


  li{
    font-size: 18px;
  }

  .image3{
    width: 0px;
    margin-top: -530px;
    margin-left: 490px;
  }

  .course{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .container3{
    align-items: center;
  }

  .container3 h1{
    width: 700px;
    font-size: 65px;
  }

.container3 h2{
  font-size: 40px;
}

  .container3{
    width: 700px;
  }

  footer{
    color: #13E07E;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
 
}
